# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

.deps
.libs
acinclude.m4
build
config.guess
/config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure.in
hprose.la
libtool
ltmain.sh
Makefile
Makefile.*
mkinstalldirs
modules
run-tests.php
*.lo
nbproject
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh

tmp-php.ini
